<div class="container px-4 gx-5">
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <span class="fs-4">Family Wellness</span>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input
          (input)="dtWellness.filterGlobal($event.target.value, 'contains')"
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
    </div>
  </header>
  <p-table
    #dtWellness
    [value]="wellness"
    [globalFilterFields]="['type', 'familyMember', 'note', 'date']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Type</th>
        <th>Family Member</th>
        <th>Note</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wellness>
      <tr>
        <td>{{ wellness.type }}</td>
        <td>{{ wellness.familyMember }}</td>
        <td>{{ wellness.note }}</td>
        <td>{{ wellness.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
