<div class="container px-4 gx-5">
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <span class="fs-4">Grocery List</span>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
    </div>
  </header>
  <p-table [value]="groceries">
    <ng-template pTemplate="header">
      <tr>
        <th>Count</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Store</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-groc>
      <tr>
        <td>{{ groc.count }}</td>
        <td>{{ groc.description }}</td>
        <td>${{ groc.cost }}</td>
        <td>{{ groc.store }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
