<div class="container px-4 gx-5">
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <span class="fs-4">Grocery List</span>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input
          (input)="dtGroceries.filterGlobal($event.target.value, 'contains')"
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
    </div>
  </header>
  <p-table
    #dtGroceries
    [value]="groceries$ | async"
    [(selection)]="selectedProducts"
    [globalFilterFields]="['count', 'description', 'cost', 'store']"
    dataKey="pickedUp"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Count</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Store</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-groc>
      <tr>
        <td>
          <p-tableCheckbox [value]="groc"></p-tableCheckbox>
        </td>
        <td>{{ groc.count }}</td>
        <td>{{ groc.description }}</td>
        <td>${{ groc.cost }}</td>
        <td>{{ groc.store }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
