<div class="container px-4 gx-5">
  <p-table [value]="parentTodo">
    <ng-template pTemplate="caption"> Parent </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Description</th>
        <th>Priority</th>
        <th>Done</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todo>
      <tr>
        <td>{{ todo.description }}</td>
        <td>{{ todo.priority }}</td>
        <td>{{ todo.done === 'true' ? 'Yes' : 'No' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
